{
   "routerScripts" : [ {
      "ext" : [ {
         "@type" : "string",
         "value" : "{\"type\":{\"wsaccess\":\"process\"}}"
      } ],
      "left" : "test",
      "right" : "wsaccess"
   }, {
      "ext" : [ {
         "@type" : "string",
         "value" : "{\"type\":{\"server\":\"process\"}}"
      } ],
      "left" : "test",
      "right" : "sticker"
   }, {
      "ext" : [ {
         "@type" : "string",
         "value" : "{\"type\":{\"after\":\"process\"}}"
      } ],
      "left" : "test",
      "right" : "after"
   } ],
   "routerServices" : [ {
      "left" : "test",
      "right" : "websocket"
   }, {
      "left" : "test",
      "right" : "test"
   }, {
      "left" : "test",
      "right" : "api"
   }, {
      "left" : "test",
      "right" : "try"
   } ],
   "routers" : [ {
      "name" : "test",
      "remark" : "ddd",
      "status" : true
   } ],
   "scripts" : [ {
      "content" : "local sticker = require(\"router.sticker\"){\r\n\tdict = ngx.shared.sticker\r\n}\r\n\r\nlocal _M = {\r\n    _VERSION = \"0.1.0\"\r\n}\r\n\r\nsetmetatable(_M, {\r\n\t__call = function (cls, ...)\r\n\t\treturn cls:init(...)\r\n\tend\r\n})\r\n\r\nfunction _M:process(para, server)\r\n\tif server then\r\n\t\tsticker:after(server)\r\n\tend\r\nend\r\n\r\nfunction _M:init(opts)\r\n   return _M\r\nend\r\n\r\nreturn _M",
      "name" : "after",
      "remark" : "sticker after"
   }, {
      "content" : "local http = require \"router.http\"\r\nlocal dns = require \"router.dns\"\r\n\r\nlocal _M = {\r\n    _VERSION = \"0.1.0\"\r\n}\r\n\r\nlocal mt = { __index = _M }\r\n\r\nsetmetatable(_M, {\r\n\t__call = function (cls, ...)\r\n\t\treturn cls:new(...)\r\n\tend\r\n})\r\n\r\nfunction _M:process(url, server)\r\n    local httpc = http{dns=dns{host={\"114.114.114.114\"}, dict=ngx.shared.dns}}\r\n    httpc:proxy(server..url)\r\n    return\r\nend\r\n\r\nfunction _M:new(opts)\r\n    opts = opts or {}\r\n    return setmetatable({}, mt)\r\nend\r\n\r\nreturn _M",
      "name" : "proxy",
      "remark" : "http proxy"
   }, {
      "content" : "local center = require \"router.center\"\r\nlocal sticker = require(\"router.sticker\"){\r\n\tdict = ngx.shared.sticker,\r\n\ttype = \"uri\"\r\n}\r\n\r\nlocal _M = {\r\n    _VERSION = \"0.1.0\"\r\n}\r\n\r\nsetmetatable(_M, {\r\n\t__call = function (cls, ...)\r\n\t\treturn cls:init(...)\r\n\tend\r\n})\r\n\r\nfunction _M:process()\r\n\tlocal servers = center:server()\r\n\tif servers then\r\n\t\tlocal server = sticker:process(servers)\r\n\t\tif server then\r\n\t\t\treturn server\r\n\t\tend\r\n\tend\r\nend\r\n\r\nfunction _M:init(opts)\r\n   return _M\r\nend\r\n\r\nreturn _M",
      "name" : "sticker",
      "remark" : "sticker"
   }, {
      "content" : "local center = require \"router.center\"\r\nlocal sticker = require(\"router.sticker\"){\r\n\tdict = ngx.shared.sticker,\r\n\ttype = \"uri\"\r\n}\r\n\r\nlocal _M = {\r\n    _VERSION = \"0.1.0\"\r\n}\r\n\r\nsetmetatable(_M, {\r\n\t__call = function (cls, ...)\r\n\t\treturn cls:init(...)\r\n\tend\r\n})\r\n\r\nfunction _M:process()\r\n\tlocal servers = center:server()\r\n\tif servers then\r\n\t\tlocal server = center:uri(sticker:process(servers))\r\n\t\tif server then\r\n\t\t\tngx.var.backserver = server\r\n\t\tend\r\n\tend\r\nend\r\n\r\nfunction _M:init(opts)\r\n   return _M\r\nend\r\n\r\nreturn _M",
      "name" : "wsaccess",
      "remark" : "wsaccess sticker"
   }, {
      "content" : "local _M = {\r\n    _VERSION = \"0.1.0\"\r\n}\r\n\r\nlocal mt = { __index = _M }\r\n\r\nsetmetatable(_M, {\r\n\t__call = function (cls, ...)\r\n\t\treturn cls:new(...)\r\n\tend\r\n})\r\n\r\nfunction _M:process()\r\n    ngx.say(\"这是是的分分分热热热热而热热b测试\")\r\nend\r\n\r\nfunction _M:new(opts)\r\n    opts = opts or {}\r\n    return setmetatable({}, mt)\r\nend\r\n\r\nreturn _M",
      "name" : "try",
      "remark" : ""
   } ],
   "serverServices" : [ {
      "left" : "api1",
      "right" : "api"
   }, {
      "left" : "websocket1",
      "right" : "websocket"
   }, {
      "left" : "test2",
      "right" : "test"
   }, {
      "left" : "api2",
      "right" : "api"
   }, {
      "left" : "test1",
      "right" : "test"
   } ],
   "servers" : [ {
      "host" : "http://192.168.79.1:9898/test",
      "name" : "test1",
      "remark" : "",
      "weight" : 1
   }, {
      "host" : "http://192.168.79.1:7241/api",
      "name" : "api1",
      "weight" : 1
   }, {
      "host" : "http://192.168.79.1:9797/websocket",
      "name" : "websocket2",
      "weight" : 1
   }, {
      "host" : "http://192.168.79.1:7242/api",
      "name" : "api2",
      "weight" : 1
   }, {
      "host" : "http://192.168.79.1:9898/websocket",
      "name" : "websocket1",
      "weight" : 1
   }, {
      "host" : "http://192.168.79.1:9797/test",
      "name" : "test2",
      "weight" : 1
   } ],
   "serviceScripts" : [ {
      "flag" : "protocol",
      "left" : "try",
      "right" : "try"
   }, {
      "flag" : "protocol",
      "left" : "api",
      "right" : "proxy"
   }, {
      "flag" : "protocol",
      "left" : "test",
      "right" : "proxy"
   } ],
   "services" : [ {
      "code" : "test",
      "name" : "test",
      "parameter" : "",
      "remark" : "",
      "status" : true
   }, {
      "code" : "api",
      "name" : "api",
      "status" : true
   }, {
      "code" : "try",
      "name" : "try",
      "parameter" : "",
      "remark" : "",
      "status" : true
   }, {
      "code" : "websocket",
      "name" : "websocket",
      "parameter" : "",
      "remark" : "",
      "status" : true
   } ]
}
